doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="/stylesheets/bootstrap-theme.min.css")
    link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
  body
    block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src='/javascripts/facebook_login.js')
    script(src='/javascripts/facebook_group.js')
    script(src='/javascripts/player.js')
    script(src='/javascripts/youtube.js')
